@import url('https://fonts.googleapis.com/css2?family=PT+Sans');
body {
    background-color: var(--primary);
}
.container {
    height: 100%;
    display: grid;
    place-items: center;
}
.question-container {
    position: relative;
    width: 50%;
    min-width: 480px;
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem #333, 0 0 .5rem #ddd;
}
.question-number {
    background-color: var(--secondary);
    position: absolute;
    width: 2rem;
    height: 3rem;
    padding-top: 1rem;
    top: 0;
    left: 1rem;
    text-align: center;
    font-weight: 700;
}

.question {
    /* text-align: center; */
    font-family: 'PT Sans', cursive;
    font-size: 1.25rem;
    padding: 1rem .5rem;
    /* box-shadow: 0 .2rem .4rem #66666650, 0 0 .2rem #333; */
}
.answer-container {
    font-family: 'PT Sans', cursive;
    margin-bottom: 4rem;
}
.answer-container input[type="radio"] {
    opacity: 0;
    position: absolute
}
.answer-container label {
    position: relative;
    width: 100%;
    font-size: 1rem;
    display: block;
    margin: .5rem 0;
    padding: .75rem 2rem;
    border-radius: .5rem;
    user-select: none;
    cursor: pointer;
    transition: .25s;
}

.answer-container label:hover {
    background-color: #99999950;
}
.answer-container label::before {
    content: '';
    position: absolute;
    left: .75rem;
    bottom: 45%;
    border-radius: 50%;
    border: 2px solid #333;
    transform: scale(4);
}
.answer-container label::after {
    content: '';
    position: absolute;
    left: .75rem;
    bottom: 45%;
    border-radius: 50%;
    border: 2px solid #fff;
    transform: scale(3);
}
.answer-container input[type="radio"]:checked+label {
    color: var(--primary);
    background-color: var(--primary-shadow);
    font-weight: 700;
    outline: 2px solid var(--primary);
    transition: outline 0s;
}
.answer-container input[type="radio"]:checked+label::after {
    transform: scale(1.5);
}
.answer-container input[type="radio"]+label.answer-right {
    background-color: var(--primary);
    color: #fff;
    box-shadow: 0 .25rem .5rem var(--primary);
}
.answer-container input[type="radio"]+label.answer-right::after {
    content: '\2713';
    border: none;
    animation: answer-mark .25s cubic-bezier(0.25, 0, 1, 0.25) forwards;
}
.answer-container input[type="radio"]+label.answer-wrong {
    background-color: var(--red);
    color: #fff;
    box-shadow: 0 .25rem .5rem var(--red);
}
.answer-container input[type="radio"]+label.answer-wrong::after {
    content: '\2717';
    border: none;
    left: .5rem;
    bottom: 30%;
    animation: answer-mark .25s cubic-bezier(0.25, 0, 1, 0.25) forwards;
}

@keyframes answer-mark {
    from {
        transform: scale(10);
        opacity: 0.05;
    }
    to {
        transform: scale(2);
        opacity: 1;
    }
}

.exam-nav-container {
    background-color: #fff;
    width: 100%;
    height: max-content;
    padding: 2rem;
    margin: auto;
    margin-top: 2rem;
    border-top: 2px solid #333;
}
:where(.btn-prev, .btn-next) {
    font-size: 1.25rem;
    /* box-shadow: 0 .25rem .5rem var(--primary); */
    box-shadow: 0 .2rem .4rem #66666650, 0 0 .2rem #333;
}
.nav-btn-container {
    margin: 1.5rem auto 0;
    display: flex;
    justify-content: center;
}
.btn-prev {
    margin-right: auto;
}
.btn-next {
    margin-left: auto;
}
button[type='submit'] {
    font-size: 1.25rem;
}
.question-table {
    max-width: 50%;
    margin: auto;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}