body {
    background-color: var(--dark-white);
}

.container-lg {
    width: 100%;
    height: 100vh;
    margin-left: 0;
    margin-right: 0;
    display: grid;
    place-items: center end;
    grid-template-columns: repeat(2, auto);
}
.container {
    height: 100%;
    display: grid;
    place-items: center;
}
.question-container {
    position: relative;
    width: 50vw;
    min-width: 480px;
    background-color: var(--white);
    padding: 1rem 2rem;
    border-radius: .5rem;
    box-shadow: 0 .25rem .5rem #333, 0 0 .25rem #666;
}
.question-number {
    background-color: var(--secondary);
    position: absolute;
    width: 2rem;
    height: 3rem;
    padding-top: 1rem;
    top: 0;
    left: 1rem;
    text-align: center;
    font-weight: 700;
}

.question {
    /* text-align: center; */
    font-family: var(--exam-font);
    font-size: 1.25rem;
    padding: 1rem .5rem;
    /* box-shadow: 0 .2rem .4rem #66666650, 0 0 .2rem #333; */
}
.question-target {
    text-decoration: none;
    color: var(--black);
    background-color: var(--primary-shadow);
    font-weight: 500;
}
.requirement {
    font-family: var(--exam-font);
    font-size: .825rem;
}
.answer-container {
    font-family: var(--exam-font);
    margin-bottom: 4rem;
}
.answer-container input[type="radio"] {
    opacity: 0;
    position: absolute
}
.answer-container label {
    position: relative;
    width: 100%;
    font-size: 1rem;
    display: block;
    margin: .5rem 0;
    padding: .75rem 2rem;
    border-radius: .5rem;
    user-select: none;
    cursor: pointer;
    transition: 0;
}

.answer-container label:hover {
    background-color: #99999950;
}
.answer-container label::before {
    content: '';
    position: absolute;
    left: .75rem;
    bottom: 45%;
    border-radius: 50%;
    border: 2px solid #333;
    transform: scale(4);
}
.answer-container label::after {
    content: '';
    position: absolute;
    left: .75rem;
    bottom: 45%;
    border-radius: 50%;
    border: 2px solid #fff;
    transform: scale(3);
}
.answer-container input[type="radio"]:checked+label {
    color: var(--primary-dark);
    background-color: var(--primary-shadow);
    font-weight: 700;
    outline: 2px solid var(--primary);
}
.answer-container input[type="radio"]:checked+label::after {
    transform: scale(1.5);
}
.answer-container input[type="radio"]+label.answer-right {
    background-color: var(--primary);
    color: #fff;
    box-shadow: 0 .25rem .5rem var(--primary);
}
.answer-container input[type="radio"]+label.answer-right::after {
    content: '\2713';
    border: none;
    animation: answer-mark .25s cubic-bezier(0.25, 0, 1, 0.25) forwards;
}
.answer-container input[type="radio"]+label.answer-wrong {
    background-color: var(--red);
    color: #fff;
    box-shadow: 0 .25rem .5rem var(--red);
}
.answer-container input[type="radio"]+label.answer-wrong::after {
    content: '\2717';
    border: none;
    left: .5rem;
    bottom: 30%;
    animation: answer-mark .25s cubic-bezier(0.25, 0, 1, 0.25) forwards;
}

@keyframes answer-mark {
    from {
        transform: scale(10);
        opacity: 0.05;
    }
    to {
        transform: scale(2);
        opacity: 1;
    }
}

.exam-nav-container {
    background-color: var(--white);
    height: 100%;
    max-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 2fr;
    place-items: start center;
}
.header-container {
    font-size: 1.25rem;
    font-family: 'Signika', cursive;
    width: 100%;
    text-align: center;
}
.header-container>header {
    width: 100%;
    padding: 1rem;
    text-align: center;
    color: var(--primary-dark);
    background-color: var(--primary-shadow);
    margin-bottom: 2rem;
}
button[type='submit'] {
    width: calc(100% - 2rem);
    margin: 0 1rem;
}
.question-table {
    border-top: 2px solid var(--gray);
    max-height: 100%;
    overflow-y: auto;
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 1rem;
}
.btn>i {
    transition: inherit;
}
:is(.btn-prev, .btn-next) {
    width: 20%;
    font-size: 1.25rem;
    outline: 2px solid var(--primary);
    box-shadow: -.1em .3em var(--primary), .1em .3em var(--primary);
    transition: background-color 0s;
    transition: color 0s;
    /* transition: transform 0.1s; */
}
:is(.btn-prev, .btn-next):focus {
    background-color: var(--primary-shadow);
    outline: 2px solid var(--primary) !important;
}
:is(.btn-prev, .btn-next):active {
    box-shadow: 0 0 var(--primary);
    transform: translateY(calc(.3em - 2px));
}

.nav-btn-container {
    margin: 1.5rem auto 0;
    display: flex;
    justify-content: center;
}
.btn-prev {
    margin-right: auto;
}
.btn-next {
    margin-left: auto;
}