body {
    min-height: 100vh;
    margin: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
}

.form-container {
    position: relative;
    max-width: 430px;
    width: 100%;
    border-radius: .5em;
    background-color: #fff;
    box-shadow: 0 .5em 1em rgba(0, 0, 0, 0.33);
}

.form-container .form {
    width: 100%;
    padding: 30px;
}

.form-container .form .title {
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: var(--primary);
    border-radius: 25px;
}

.form .error-message {
    width: 100%;
    margin-top: 2rem;
    padding: .5em 1em;
    border: 2px solid red;
    border-radius: .5em;
    background-color: #ff000033;
}

.form .input-field, .form *[type='submit'] {
    position: relative;
    height: 3rem;
    width: 100%;
    margin-top: 2rem;
}
.input-field input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 2rem;
    border: none;
    outline: none;
    font-size: 1rem;
    border-bottom: 2px solid var(--secondary);
    border-top: 2px solid transparent;
}

.input-field :not(input[type='submit']):focus {
    border-bottom: 2px solid var(--primary);
}

.input-field i {
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    font-size: 1em;
}

.input-field i:not(.password-check) {
    left: 0;
}

.input-field i.password-check {
    right: 0;
    cursor: pointer;
}

.form .checkbox-text {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.checkbox-content input[type='checkbox'] {
    margin-right: 1em;
    accent-color: var(--primary);
    transform: scale(1.5);
}

.form a.text {
    color: var(--primary);
    text-decoration: none;
}

.form a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.form .login-signup {
    margin-top: 2rem;
    text-align: center;
}