@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --primary: #2e8b8d;
    --primary-shadow: #2e8b8d50;
    --primary-dark: #0c4344;
    --secondary: #e8ae98;
    --text-color: #333;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    transition: .25s;
    scroll-behavior: smooth;
}
*::before, *::after {
    box-sizing: inherit;
}

html {
    /* Đặt độ cao dòng */
    line-height: 1.6rem;
    /* Nhúng font chữ */
    font-family: 'Roboto', 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: calc(100% - 4rem);
}

.container-sm {
    max-width: calc(100% - 8rem);
}

/* Hỗ trợ khi responsive */
.grid {
    /* width: 800px; */
    /* width: 1200px; */
    width: calc(100% - 4rem);
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
}

/* Khi không muốn dùng w1k2px */
.grid__full-width {
    width: 100%;
}

/* Những tp nằm trong row */
.grid__row {
    display: flex;
    flex-wrap: wrap;
}

.grid__col-2-3 {
    padding-left: 5px;
    padding-right: 5px;
    width: 33.333333%;
}