@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --primary: #2e8b8d;
    --primary-shadow: #2e8b8d50;
    --primary-dark: #0c4344;
    --secondary: #e8ae98;
    --text-color: #333;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    transition: .25s;
    scroll-behavior: smooth;
}
*::before, *::after {
    box-sizing: inherit;
}

html {
    /* Đặt độ cao dòng */
    line-height: 1.6rem;
    /* Nhúng font chữ */
    font-family: 'Roboto', 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: calc(100% - 4rem);
}

.container-sm {
    max-width: calc(100% - 8rem);
}

/* Hỗ trợ khi responsive */
.grid {
    /* width: 800px; */
    /* width: 1200px; */
    width: calc(100% - 4rem);
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
}

/* Khi không muốn dùng w1k2px */
.grid__full-width {
    width: 100%;
}

/* Những tp nằm trong row */
.grid__row {
    display: flex;
    flex-wrap: wrap;
}

.grid__col-2-3 {
    padding-left: 5px;
    padding-right: 5px;
    width: 33.333333%;
}

.carousel-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;
}
.carousel-group {
    position: relative;
}
.carousel-group>img {
    width: 100%;
    height: 50vh;
    max-height: 640px;
    object-fit: cover;
}
.carousel-group>:where(.arrow-l, .arrow-r) {
    position: absolute;
    font-size: 5rem;
    font-weight: 900;
    color: white;
    background-color: #33333350;
    text-decoration: none;
    height: 100%;
    padding-left: .5rem;
    padding-right: .5rem;
}
.carousel-group>a.arrow-l {
    left: 0;
}
.carousel-group>a.arrow-r {
    right: 0;
}
.carousel-group>:where(.arrow-l, .arrow-r)::before {
    position: relative;
    top: 30%;
}
.carousel-group>:where(.arrow-l, .arrow-r):hover {
    background-color: #33333390;
}
.carousel-group>:where(.arrow-l, .arrow-r):hover::before {
    transform: scale(1.5);
}
.carousel-group>a.arrow-l::before {
    content: '\2039';
}
.carousel-group>a.arrow-r::before {
    content: '\203A';
}